body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(201, 203, 204);
}

.form {
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  margin: 2px 400px 300px 400px;
  padding: 20px;
  min-width: 600px;
  box-shadow: 10px;
}

label {
  display: flex;
}

input {
  display: flex;
  width: 100%;
  margin: 10px 5px 10px 0px;
}

button {
  display: flex;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
